.homeDiv {
}

.renderMapDiv {
  position: relative;
}

.siteInfo {
  display: flex;
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 13rem;
  margin: auto;
  border-radius: 1em;
  padding: 2em 1em 2em 1em;
  background-color: #70ddff;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(39, 39, 60, 0.927608543417367) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.siteInfo-anime {
  width: 55rem;
}

.siteInfo p {
  color: white;
  font-weight: 400;
  font-size: 1.1em;
  color: white;
  text-align: left;
}

.homeDiv-Moto {
  font-size: 1.7em;
  margin-top: 6.5em;
  padding-top: 1.5em;
  text-align: center;
}

.homeDiv-article {
  /* margin-top: 10rem; */
  height: max-content;
  padding: 2rem 0 2rem 2rem;
}

.article-odd {
  display: flex;
  height: 20rem;
  margin: 5rem 0 5rem 0;
}

.article-odd-info-div {
  flex: 1;
  border: 1px solid white;
  border-radius: 1em;
  padding: 1rem;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #70ddff, rgba(0, 0, 0, 0)) 1 100%;
}

.article-odd-info-div h2 {
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
}

.article-odd-info-div p {
  font-weight: 500;
  text-align: center;
}

.article-odd-anime-div {
  flex: 1;
}

.article-even {
  display: flex;
  height: 20rem;
}

.article-even-anime-div {
  flex: 1;
}

.article-even-info-div {
  flex: 1;
  /* border: 1px solid white; */
  border-radius: 1em;
  padding: 1rem;
  color: white;
  /* border-width: 3px; */
  /* border-style: solid; */
  /* border-image: linear-gradient(to bottom, #70ddff, rgba(0, 0, 0, 0)) 1 100%; */
  padding: 5rem;
}

.article-even-info-div h2 {
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
}

.article-even-info-div p {
  font-weight: 500;
  text-align: center;
}
