@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  overflow-y:auto;
  background-color: black;
}
* {
  color: black;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  color: white;
}
